/* css */

@font-face {
    font-family: "TitleFont";
    src: url(UnifrakturMaguntia-Regular.ttf);
}

body {
    background-image: linear-gradient(rgb(248, 227, 230), rgb(253, 239, 239), rgb(218, 218, 218));
}

h1 {
    font-family: "TitleFont";
    text-align: center;
}


#date {
    font-size: 0.8rem;
}
.name {
    font-size: 0.8rem;
}

.footer {
    text-align: center;
    font-size: .7rem;
}

@media (max-width: 768px) {  /* SM */
    h1 {font-size: 4rem;}
    p {font-size: 1rem;}
}

@media (min-width: 768px) and (max-width: 1200px) {  /* MD */
    h1 {font-size: 5rem;}
    p {font-size: 1rem;}
}

@media (min-width: 1200px) {  /* XL */
    h1 {font-size: 6rem;}
    p {font-size: 1rem;}
}
